<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/join.js"></script>

    <title>SNEK</title>

</head>

<body>
<div id="gameTitle">SNEK</div>
<div id="loginWrapper" class="center"  style="width: 200px; height: 200px">

    <div id="nameInput">
        <label>What's your name?</label>
        <input style="margin-top: 10px" id="username" name="nameText" type="text" />
    </div>
    <button onCLick="signIn()" id="continue">Play!</button>
</div>
</body>
</html>
